.row-container {
  display: flex;
}

.text-item {
  flex: 1;
  border: 1px solid #ccc; /* Optional: Add border for visual separation */
  padding: 10px; /* Optional: Add padding for spacing */
}
.img-item {
  width: 100px;
  height: 100px;
}
.text-paragraph-div {
  margin-top: 4px;
  margin-bottom: 0px;
  display: inline;
}
.text-paragraph-div-inner {
  margin-top: 0px;
  margin-bottom: 0px;
  display: inline;
}

.icon-small {
  transform: scale(0.8);
}
